<div id="bottomsheet-rotas">
    <aside class="action-box">
        <ul class="list-action-btns">
            <li class="action-btns-item">
                <a href="#"  id="show-directions" class="item-btn btn green">
                    Ver Rotas
                </a>
            </li>
            <li class="action-btns-item">
                <a href="#" id="bottomSheet-addPlace" class="item-btn btn" >
                    Adicionar ponto
                </a>
            </li>
        </ul>
    </aside>
    <aside class="directions-box">
        <div class="pull-up-container">
            <span class="pull-up"></span>
        </div>
        <div id="directions-messages">
            <div id="direction-msg-error" class="direction-msg">
                <h1>
                    <b>Que pena não encontramos uma rota :(</b>
                </h1>
                <p>
                    Parece que não podemos encontrar uma rota baseada na seu origem, ou destino, pesquise por novas localidades e tente novamente!
                </p>
            </div>
            <div id="direction-msg-origin" class="direction-msg">
                <h1>
                    <b>Escolha seu ponto de partida</b>
                </h1>
                <p>
                    Selecione um ponto de partida para traçar a sua rota ou partilhe a sua localização!
                </p>
            </div>
        </div>
        <div id="list-directions">

        </div>
        <div id="list-direction-actions" class="list-directions-actions-box">
            <ul class="list-action-btns">
                <li class="action-btns-item">
                    <a href="#" id="directions-forum-btn" target="_blank" class="item-btn btn green" >
                        Discutir rota
                    </a>
                </li>
                <li class="action-btns-item">
                    <a href="#" id="directions-share-btn" class="item-btn btn hide-desktop" >
                        Partilhar rota
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>