<!-- About -->
<div id="mmapModal" class="modal fullscreen-modal guide-modal mmap-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Mais mulheres a pedalar</h1>

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <h2 class="title">Sobre o projecto</h2> 

                        <p>
                        Este projecto começou no Brasil, com um grupo independente de Designers, Programadores e Urbanistas em busca de novas maneiras de incentivar o uso da bicicleta nas suas cidades. A versão para Portugal resulta de uma colaboração entre este grupo fantástico e a MUBi (Associação para a Mobilidade Urbana em Bicicleta – www.mubi.pt). A nossa visão é de cidades para todos, não apenas para ir e voltar, mas para se estar e parar.
                        
                        Gostaste deste projecto? Tens alguma sugestão, alguma ideia? Partilha e entra em <a class="external-link contact-btn">contacto connosco!</a>
                        </p>

                        <h2 class="title">Quem somos</h2> 

                        <p>
                        Este projecto começou no Brasil, com um grupo independente de Designers, Programadores e Urbanistas em busca de novas maneiras de incentivar o uso da bicicleta nas suas cidades. A versão para Portugal resulta de uma colaboração entre este grupo fantástico e a MUBi (Associação para a Mobilidade Urbana em Bicicleta – www.mubi.pt). A nossa visão é de cidades para todos, não apenas para ir e voltar, mas para se estar e parar.
                        
                        Gostaste deste projecto? Tens alguma sugestão, alguma ideia? Partilha e entra em <a class="external-link contact-btn">contacto connosco!</a>
                        </p>                        
                        

                        <h2 class="title">Como apoiar</h2>
                        
                       

                        <p>
                         O projecto não tem fins lucrativos e é fruto de trabalho voluntário dedicado a compreender melhor as necessidades dos utilizadores da bicicleta nas cidades e a divulgar o projecto. Há, no entanto, despesas inevitáveis no alojamento do site, e de armazenamento de dados.

                        </p> 

                        <p>
                            A plataforma Cidade Ciclável, ao abrigo do Regulamento de Atribuição de Apoios do Município de Lisboa (RAAML), beneficiou em 2020 do apoio da Autarquia. Este apoio permitiu melhorar a plataforma e integrar os dados oficiais da Câmara Municipal de Lisboa, sendo agora possível manter a informação sempre atualizada.
                        </p>

                        <p>
                        Queres ajudar-nos? Podes fazer um donativo, em qualquer valor. 1 euro por mês já será uma ajuda inestimável.
                        </p>
                        
                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="/quero-ser-bike-buddy" class="primary-btn" style="border-radius: 25px; padding: 12px 36px; font-size: 16px; box-shadow: none; cursor: pointer;">
                            Quero ser uma Bike Buddy
                        </a> 
                        </div>

                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="/preciso-de-bike-buddy" class="ghost secondary-btn" style="border-radius: 25px; padding: 12px 36px; font-size: 16px; box-shadow: none; cursor: pointer;">
                            Preciso de uma Bike Buddy
                        </a> 
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>