<!-- About -->
<div id="mmapModal" class="modal fullscreen-modal guide-modal mmap-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Mais mulheres a pedalar</h1>

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <h2 class="title">Sobre o projecto</h2> 

                        <p>
                        O Cidade Ciclável +MAP torna as cidades mais inclusivas e incentiva mais mulheres a usarem a bicicleta como modo de deslocação através de:
                        </p>
                        
                        <ul>
                            <li>criação de percursos personalizados.</li>
                            <li>pesquisa de rotas mais seguras.</li>
                            <li>apoio de mentoria ou de bike buddy para ganhar confiança nos percursos.</li>
                        </ul>
                        
                        <p>
                            <a href="https://maismap.mubi.pt/">Mais Mulheres a Pedalar</a>
                        </p>
                        <h2 class="title">Quem somos</h2> 

                        <p>
                        O projeto Cidade Ciclável +MAP é desenvolvido pela MUBi e co-financiado pelo Fundo Europeu de Desenvolvimento Regional através da iniciativa Ações Urbanas Inovadoras.
                        </p>                        
                        

                        <h2 class="title">Bike Buddy</h2>

                        <p>
                            Um canal para pedir apoio de mentoria ou acompanhamento personalizado.
                        </p>

                        
                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="mailto:bikebuddy@mubi.pt" class="primary-btn" style="border-radius: 25px; padding: 12px 36px; font-size: 16px; box-shadow: none; cursor: pointer;">
                            Quero ser uma Bike Buddy
                        </a> 
                        </div>

                        <div style="margin: 3em 0; text-align: center;">
                        <a target="_blank" rel="noopener" href="https://forum.mubi.pt/c/bike-buddy/22" class="ghost secondary-btn" style="border-radius: 25px; padding: 12px 36px; font-size: 16px; box-shadow: none; cursor: pointer;">
                            Preciso de uma Bike Buddy
                        </a> 
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>