<!-- Privacy -->
<div id="privacyModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Privacidade</h1>

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <p class="subtitle">
                           Como lidamos com seus dados no cidade ciclável
                        </p>
                        <h4><b>Quais dados nós coletamos?</b></h4>
                        <p>
                            Nós utilizamos o nome e e-mail coletados para nós asseguramos das informações inseridas na plataforma. <br/>
                            Nenhuma informação coletada será trasmitida a terceiros e não enviariemos spam. Caso exista comunicação de e-mail será estritamente para informar sobre a plataforma e você vai poder optar por receber comunicações.
                        </p>
                        <h4><b>Cookies</b></h4>
                        <p>
                            Um cookie é um pequeno ficheiro de texto que um site coloca no teu computador, telefone ou qualquer outro dispositivo com acesso à internet, contendo informação sobre a tua navegação nesse site.<br/>
                            Os cookies do cidade ciclável retêm apenas informação relacionada com a utilização da APP e não armazenam dados pessoais nem os transmitem a terceiros.<br/>
                            Desactivar os cookies no teu navegador pode afetar ou até mesmo inviabilizar o funcionamento da APP.
                        </p>
                        <h4><b>Como desativar minha conta</b></h4>
                        <p>
                            <a class="external-link contact-btn">
                                Contacta-nos. <img src="/img/icon_mail.svg" class="icon-mail"></a> informando o seu email cadastrado e solicitando a remoção dos seus dados pessoais da plataforma. Os informações de bicicletários, pedidos e avaliações serão mantidas de forma anonima e desvinculada de dados pessoais.
                        </article>
                </div>
            </div>
        </div>
    </div>
</div>