<!-- Privacy -->
<div id="privacyModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Privacidade</h1>

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <p class="subtitle">
                            Como lidamos com os seus dados no Cidade Ciclável
                        </p>
                        <h4><b>Que dados recolhemos?</b></h4>
                        <p>
                            Utilizamos o nome e e-mail recolhidos para nos assegurarmos das informações inseridas na plataforma.<br/>
                            Nenhuma informação recolhida será transmitida a terceiros e não enviaremos spam. A comunicação via e-mail será estritamente para transmitir informações sobre a plataforma, podendo em qualquer altura optar por receber ou não essas comunicações.

                        </p>
                        <h4><b>Cookies</b></h4>
                        <p>
                            Um cookie é um pequeno ficheiro de texto que um site coloca no teu computador, telefone ou qualquer outro dispositivo com acesso à internet, contendo informação sobre a tua navegação nesse site.<br/>
                            Os cookies do cidade ciclável retêm apenas informação relacionada com a utilização da APP e não armazenam dados pessoais nem os transmitem a terceiros.<br/>
                            Desactivar os cookies no teu navegador pode afetar ou até mesmo inviabilizar o funcionamento da APP.
                        </p>
                        <h4><b>Como desativar a minha conta</b></h4>
                        <p>
                            <a class="external-link contact-btn">
                                Contacta-nos. <img src="/img/icon_mail.svg" class="icon-mail"></a> indicando o seu e-mail registado e solicitando a remoção dos seus dados pessoais da plataforma. As informações de bicicletários, pedidos e avaliações serão mantidas de forma anónima e desvinculadas de dados pessoais.
                        </article>
                </div>
            </div>
        </div>
    </div>
</div>