<!-- Privacy -->
<div id="privacyModal" class="modal fullscreen-modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <article>
                        <h1 class="modal-title view-name">Privacidade</h1>

                        <div>
                            <img class="illustration" alt="" src="" data-src="/img/art1.svg"/>
                        </div>

                        <p class="subtitle">
                            Não seria bom poder andar de bicicleta na cidade para onde se quisesse? Um dos maiores obstáculos é a falta de lugares adequados para estacionar a bicicleta em segurança.
                        </p>

                        <p>
                            Não seria bom poder andar de bicicleta na cidade para onde se quisesse? Um dos maiores obstáculos é a falta de lugares adequados para estacionar a bicicleta em segurança.
                        </p>
                        </article>
                </div>
            </div>
        </div>
    </div>
</div>