<!-- Request or Place Modal. -->
<div id="welcomeModal" data-keyboard="false" class="modal" tabindex="-1">
	<div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
					<h1>
                        <b>Olá!</b>
                        Este é um mapa colaborativo de parqueamentos para estacionar a tua bicicleta. 
                    </h1>
                    <p>
                        O Cidade Ciclável é feito com dedicação por ciclistas, para ciclistas. <br/>
                        E estas são as informações temos no nosso mapa: 
                    </p>
                    <ul>
                        <li><img src="/img/pin_parque.png" width="42"><div class="first"> <b>Parqueamentos</b> existentes para bicicletas.</div></li>
                        <li><img src="/img/pin_hotspot.png"  width="42"><div>Parqueamento <b>hotspot</b>,  é um estacionamento existente para bicicletas e veículos de micromobilidade partilhadas.</div></li>
                        <li><img src="/img/pin_biciparque.png"  width="42"><div><b>Biciparques</b>, são estruturas fechadas de parqueamento de bicicletas.</div></li>
                        <li><img src="/img/pin_pedido.png"  width="42"> <div><b>Pedido</b> de parqueamento, são locais em que os utilizadores de bicicletas identificaram a necessidade de um estacionamento.</div></li>
                    </ul>
                    <p>
                        Colabora também, a cidade agradece!
                    </p>
                    <button class="ghost openReviewPanelBtn" id="welcomeStart">Começar</button>
                </div>
            </div>
        </div>
    </div>

</div>